html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 951px;
  margin: 0 auto;
}

.navigation-list {
  display: "inline-block";
}

.item-navigation-list {
  display: "inline-block";
  text-align: center;
  position: relative;
}

.item-navigation {
  font-size: 18px;
  font-family: "PlayfairDisplay";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  position: absolute;
  width: 50px;
}

.item-subtitle {
  color: grey;
}

.item-navigation:hover,
.item-navigation:focus {
  color: #f8091f;
}

.item-list {
  width: 420px;
}

.item-list-content {
  width: 420px;
}

button {
  position: relative;
}
.button {
  text-align: center;
  margin-top: 58px;
  margin-bottom: 70px;
}

ul {
  list-style-type: none;
}
