html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}
.container {
  width: 901px;
  margin: 0px auto;
}

.navigation-menu {
  list-style-type: none;
  margin: 0px;
  padding: 77px 0px;
}

.navigation-list {
  margin: 0px;
  padding: 0px;
}

.item-navigation {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}
.item-navigation li {
  display: inline-block;
}

.list-articles {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.item-article {
  display: inline-block;
}

.article {
  display: inline-block;
  max-width: 421px;
}

.item-image {
  width: 100%;
}

.item-subtitle {}

.button {
  margin-top: "45px";
  margin-bottom: "60px";
  position: "relative";
  text-align: "center";  
  border-radius: "5px";
}
