html {
box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0px auto;
}
  
.navigation-menu {
  height: 100%;
  margin-bottom: 90px;
}

.logotype-box {
  display: inline-block;
}

.logotype {
  display: block;
  float: left;
  padding-top: 36px;
  font-family: "Roboto";
  font-size: 30px;
  text-decoration: none;
  font-family: "Roboto, sans-serif";
  text-transform: uppercase;
  font-weight: lighter;
  color: #000000
}

.logotype::first-letter{
  color: rgb( 26, 188, 156 );
}

.navigation-list li {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  padding-top: 42px;
}

.navigation-list {
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

.navigation-list li:not(:first-child) {
  margin-left: 32px;
}

.navigation-list-item {
  text-decoration: none;
  color: #000000;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: rgb( 26, 188, 156 );
}

.tittle {
  display: block;
  margin: 0px;
  padding: 0px;
  line-height: 32px;
  font-size: 48px;
  font-weight: bold;
  font-family: "OpenSans";
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  text-align: center;
}

.product-menu img {
  display: block;
}

.product-list {
  margin: 0px;
  padding: 0px;
}

.list-item-product {
  list-style: none;
}

.product-name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-decoration: #ffffff;
  text-transform: uppercase;
  background-color: gray;
}