html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: block;
  width: 1110px;
  margin: 0px auto;
}

.logotype {
  float: left;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  font-size: 30px;
  line-height: 1;
  text-decoration: none;
  font-family: "Roboto, sans-serif";
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}

.logotype:hover,
.logotype:focus {
  color: rgb(26, 188, 156);
}

.navigation-list li {
  list-style: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  padding-top: 42px;
}

.navigation-list {
  display: block;
  float: right;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

.navigation-list li:not(:first-child) {
  margin-left: 32px;
}

.navigation-list-item {
  text-decoration: none;
  color: #000000;
}

.navigation-list-item:hover,
.navigation-list-item:focus {
  color: rgb(26, 188, 156);
}

.tittle {
  margin: 0px;
  padding: 0px;
  padding-top: 106px;
  line-height: 32px;
  font-size: 48px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #515151;;
  text-transform: uppercase;
  text-align: center;
}

.product-menu img {
  display: block;
}

.product-list {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.item-product {
  float: left;
  width: 255px;
}

.item-product h4:hover {
  background-color: rgb(26, 188, 156) ;
}

.product-list li:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.product-list li:not(:nth-child(4n)) {
  margin-right: 30px;
}

.product-name {
  display: inline-block;
  width: 80%;
  margin: 0px;
  padding: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  float: left;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #323232;
}

.price {
  float: right;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  font-size: 18px;
  width: 20%;
  color: #ffffff;
  background-color: gray;
  ;
}

.last-news-list {
  margin: 0px;
  padding: 0px;
}

.last-news-list li {
  width: 350px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left;
}

.last-news-list li:not(:last-child) {
  margin-right: 30px;
}

.subtittle {
  display: block;
  margin: 0;
  padding: 12px 0px;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
}

.news-text {
margin: 0;
padding: 0;
font-size: 14px;
line-height: 26px;
font-weight: 400;
color: #555252;
}

.link-read-more {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 160px;
  height: 50px;
  margin-top: 14px;
  padding-top: 18px;
  border-radius: 5px;
  font-family: Open+serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  background-color: rgb(26, 188, 156);
  text-align: center;
}

